@use "./styles/base";
@use "../node_modules/emoji-mart/css/emoji-mart.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  background-color: #ddd;
  color: #222;
}

h1.calendar__title {
  opacity: 0;
}

p.calendar__title {
  opacity: 0;
}

.calendar {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  perspective: 500px;
  transform: perspective(1px);
  &__info {
    margin-top: 5px;
  }
  &__info,
  &__input {
    margin-bottom: 10px;
  }
  &__input {
    width: 200px;
    text-align: center;
    padding: 5px;
    border: 1px solid #aba;
    opacity: 0;
    &.is-error {
      border: 1px solid red;
      outline: none;
    }
    &--error {
      display: block;
      margin-bottom: 10px;
      color: #e23;
    }
  }
}

.month {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 5px;
  &__title {
    align-self: center;
    text-transform: capitalize;
  }
  &__arrow {
    all: unset;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    user-select: none;
    &--prev {
      padding: 5px 8px 5px 5px;
    }
    &--next {
      padding: 5px 5px 5px 8px;
    }
    &:hover,
    &:focus {
      color: #fff;
      background-color: #026aa7;
    }
    &:focus {
      outline: none;
    }
  }
}

.datepicker {
  padding: 10px 10px 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #fff;
  opacity: 0;
  &.is-error {
    outline: 1px solid #e23;
  }
}

.weeks {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #aaa;
  font-size: 14px;
  text-transform: capitalize;
  color: darken(#026aa7, 3%);
  > span {
    width: calc(100% / 7 - 4px);
    margin: 0 2px;
    display: inline-block;
  }
}

.days {
  &-cont {
    position: relative;
    overflow: hidden;
    max-width: 250px;
    height: 200px;
  }
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  font-size: 15px;
  &.to-left button,
  &.to-right button {
    transition: none;
  }
  button {
    all: unset;
    width: calc(100% / 7 - 4px);
    height: calc(100% / 6);
    margin: 0 2px;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.33s, background-color 0.33s;
    &:focus {
      outline: none;
    }
    &.is-selected {
      background-color: #dd4f4f;
      color: #fff !important;
      &:hover,
      &:focus {
        background-color: #dd4f4f !important;
      }
    }
    &.prev,
    &.next {
      color: #999;
      &:not(.current--day):hover,
      &:not(.current--day):focus {
        background: #eaeaea;
      }
    }
    &.current:not(.current--day):hover,
    &.current:not(.current--day):focus {
      background: darken(#eaeaea, 10%);
    }
    &.current--day {
      transition: none;
      color: #fff;
      background: lighten(#026aa7, 7%);
      &.is-selected {
        background-color: #2e882e !important;
      }
    }
  }
  &.is-visible {
    left: 0;
    &.to-left {
      transform: perspective(1px) translateX(-100%) translateX(-20px);
    }
    &.to-right {
      transform: perspective(1px) translateX(100%) translateX(20px);
    }
    &.to-left,
    &.to-right {
      transition: transform 0.3s ease-out;
    }
  }
  &.is-hidden {
    left: calc(-100% - 20px);
    &.to-left {
      left: calc(100% + 20px) !important;
      transform: perspective(1px) translateX(-100%) translateX(-20px);
    }
    &.to-right {
      left: calc(-100% - 20px) !important;
      transform: perspective(1px) translateX(100%) translateX(20px);
    }
    &.to-left,
    &.to-right {
      transition: transform 0.3s ease-out;
    }
  }
}

.event {
  position: relative;
  &s {
    width: 300px;
    background-color: #fff;
    padding: 0 10px;
    margin-bottom: 20px;
    opacity: 0;
  }
  padding: 15px 5px;
  &:not(:last-child) {
    border-bottom: 1px solid #aaa;
  }
  &-remove {
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
    cursor: pointer;
    font-size: 20px;
  }
  &-name {
    font-weight: bold;
    margin-bottom: 10px;
    word-break: break-all;
  }
  &-date {
    text-transform: capitalize;
    font-size: 15px;
  }
}

.btn {
  padding: 3px 12px;
  margin-bottom: 10px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background: #00ae69;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  &:focus {
    outline: 1px solid #00ae69;
    outline-offset: 0.15em;
  }
  &:active {
    outline: none;
  }
}

.chat {
  width: 100%;
  max-width: 700px;
  position: absolute;
  top: 0;
  padding: 0 10px;
  &-users {
    margin-bottom: 15px;
    font-size: 17px;
    opacity: 0;
    transform: translate3d(0, 25px, 0);
    &__list {
      padding-left: 20px;
      min-height: 23px;
      & > span {
        display: inline-block;
      }
      & > button {
        all: initial;
        font-size: inherit;
        position: relative;
        cursor: pointer;
        transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:hover,
        &.focus-visible {
          color: #146af6;
        }
      }
    }
  }
  &-room {
    height: 100%;
    overflow: hidden;
    position: relative;
    &:before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0px;
      top: 30px;
      background: #abc;
      z-index: 3;
    }
    &-search {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      margin: 20px 0 10px;
      opacity: 0;
      transform: translate3d(0, 25px, 0);
      &:before {
        content: "";
        width: 100%;
        display: block;
        order: 1;
      }
      &__input {
        min-width: 200px;
        width: calc(50% - 36px);
        display: block;
        padding: 10px;
        border: none;
        outline: none;
      }
      &__error {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        color: red;
        font-size: 18px;
        order: 5;
      }
      &__submit {
        border: none;
        padding: 0 8px;
        background: #1c5b72;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        & svg {
          width: 20px;
          height: 20px;
          fill: #fff;
        }
      }
      &__list {
        display: flex;
        flex-direction: column;
        list-style: none inside;
        order: 2;
        width: 50%;
        margin-top: 1px;
        color: #777;
        background: #fff;
        border: 1px solid #ddd;
        text-align: center;
      }
      &__item {
        padding: 0.5em 0;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        transition: 0.3s ease-out;
        &:hover {
          background-color: #8d99f3;
          color: #fff;
        }
      }
    }
    &-tabs {
      display: flex;
      &-cont {
        display: flex;
        width: calc(100% - 40px);
        height: 29px;
        overflow: hidden;
        position: absolute;
        top: 2px;
        left: 20px;
        padding: 0;
        z-index: 5;
      }
      &__tab {
        all: unset;
        padding-top: 0px;
        padding-bottom: 3px;
        padding-left: 14px;
        position: relative;
        z-index: 4;
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 18px;
        color: #aaa;
        transition: color 0.35s;
        border: 1px solid transparent;
        border-bottom: none;
        & > span {
          margin-left: 6px;
        }
        .chat-room-tabs__tab-cont:not(:first-child) & {
          padding-right: 22px;
        }
        .chat-room-tabs__tab-cont:first-child & {
          padding-right: 14px;
        }
        &:not(.is-active):hover {
          color: #667282;
          cursor: pointer;
        }
        &.is-active {
          color: #5e99f9;
          border-color: #5e99f9;
          &:before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #fff;
          }
          &:active {
            outline: none;
          }
        }
        &-cont {
          position: relative;
          line-height: 1.4;
        }
        &-close {
          z-index: 10;
          position: absolute;
          padding: 0;
          right: 8px;
          top: 2px;
          width: 10px;
          height: 10px;
          background: transparent;
          cursor: pointer;
          border: none;
          transition: transform 0.2s ease-out;
          &:hover,
          &:focus {
            transform: scale(1.2) rotate(90deg);
          }
          &:focus {
            outline: none;
          }
          &:before,
          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 2px;
            height: 10px;
            top: 0px;
            left: 4px;
            background: #e23;
          }
          &:after {
            transform: rotate(45deg);
          }
          &:before {
            transform: rotate(-45deg);
          }
        }
        &.focus-visible {
          border-top: 1px solid lighten(#5e99f9, 10%);
          border-left: 1px solid lighten(#5e99f9, 10%);
          border-right: 1px solid lighten(#5e99f9, 10%);
          outline: none;
        }
      }
    }
    &-arrow {
      position: absolute;
      top: 9px;
      width: 12px;
      height: 12px;
      border-left: 2px solid #a1a1a1;
      border-top: 2px solid #a1a1a1;
      cursor: pointer;
      transition: border-color 0.25s;
      &:not(.is-hidden):hover {
        border-color: darken(#a1a1a1, 30%);
      }
      &--left {
        left: 7px;
        transform: rotate(-45deg);
      }
      &--right {
        right: 7px;
        transform: rotate(135deg);
      }
      &.is-hidden {
        opacity: 0.3;
        pointer-events: none;
        cursor: default;
      }
    }
    &-cont {
      height: min(500px, 70vh);
      padding: 0 20px 20px;
      background-color: #fdfdfd;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
      border-radius: 7px;
      opacity: 0;
      transform: translate3d(0, 25px, 0);
    }
    &-messages {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-self: flex-end;
      &__name {
        font-weight: bold;
        .chat-room-messages__message-cont:not(.align-right) & {
          margin-right: 8px;
          cursor: pointer;
        }
        .align-right & {
          margin-left: 8px;
          order: 1;
        }
      }
      &-cont {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100% - 80px);
        max-height: calc(100% - 80px);
        position: absolute;
        bottom: 50px;
        left: 0;
        overflow-y: auto;
        padding-top: 10px;
        color: #00000000;
        transition: color 0.3s 0.5s;
        &:hover {
          color: #a09f9f8f;
          transition-delay: 0s;
        }
        &::-webkit-scrollbar {
          width: 16px;
        }
        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-track {
          background-clip: content-box;
          border: 4px solid transparent;
          border-top-width: 2px;
          border-bottom-width: 2px;
          border-radius: 8px;
        }
        &::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 0 10px;
          &:hover {
            color: #a5a5a5;
          }
          &:active {
            color: #888888;
          }
        }
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 7px;
        }
        &::-webkit-scrollbar-button {
          display: none;
        }
        &::-webkit-scrollbar-corner {
          background-color: transparent;
        }
      }
      &__time {
        padding-top: 2px;
        font-size: 15px;
        font-style: italic;
        color: darken(grey, 10%);
      }
      &__message {
        max-width: 70%;
        margin-top: 3px;
        line-height: 1.3em;
        padding: 10px 10px 5px;
        order: 3;
        word-break: break-word;
        white-space: break-spaces;
        overflow: hidden;
        & > img:not(.emoji-cont) {
          margin: 5px auto;
          border-radius: 6px;
          object-fit: contain;
        }
        &-link {
          margin-right: 3px;
          transition: color 0.35s cubic-bezier(0.19, 1, 0.22, 1);
          &:hover {
            color: #ea1616;
          }
          &.focus-visible {
            outline: 1px solid #d41b2a;
          }
        }
        .chat-room-messages__message-cont:not(.align-right) & {
          background-color: #e1e1e1;
          border-radius: 13px 13px 13px 0;
        }
        .chat-room-messages__message-cont.align-right & {
          background-color: #7884e6;
          border-radius: 13px 13px 0 13px;
          color: #fff;
        }
        &-cont {
          display: flex;
          flex-wrap: wrap;
          color: #2b2b2b;
          &::before {
            content: "";
            display: block;
            width: 100%;
            order: 2;
          }
          &:not(:first-child) {
            margin-top: 13px;
          }
          &.align-right {
            padding-right: 5px;
            justify-content: flex-end;
          }
        }
      }
    }
    &__input {
      width: 100%;
      height: 40px;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 8px 122px 0 13px;
      border-radius: 5px;
      letter-spacing: 0.2px;
      font-size: 16px;
      outline: none;
      border: 1px solid lighten(grey, 15%);
      transition: border-color 0.25s;
      resize: none;
      overflow: auto;
      scrollbar-width: 0;
      white-space: break-spaces;
      &::-webkit-scrollbar {
        width: 0;
      }
      &:focus {
        outline: none;
        border-color: #4d90fe;
      }
    }
    &__button {
      width: 100px;
      height: 38px;
      position: absolute;
      right: 1px;
      bottom: 1px;
      padding: 0;
      border-radius: 5px;
      line-height: 38px;
      border: 1px solid transparent;
      outline: none;
      cursor: pointer;
      font-size: 17px;
      transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      &.focus-visible {
        outline: none;
        border: 1px solid #4d90fe;
      }
      &:hover {
        color: #fff;
        background-color: #7884e6;
      }
    }
  }
  &-title {
    line-height: 40px;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 25px, 0);
  }
}

a.chat-room-messages__message-link {
  text-decoration: underline;
}

.nav {
  text-align: center;
  padding: 15px 0 5px;
  &__link {
    padding: 2px 4px;
    font-size: 20px;
    transition: color 0.25s;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &:hover {
      color: darken(#ff8787, 7%);
    }
    &--active {
      cursor: text;
      color: #b90000 !important;
    }
  }
}

button.nav__link {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: inherit;
  &:active {
    outline: none;
  }
}

.home {
  max-width: 500px;
  text-align: center;
  position: absolute;
  top: 0;
  &-title {
    margin-bottom: 5px;
  }
  &-link {
    color: #2c7eaa;
    cursor: pointer;
    transition: color 0.25s;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    &:active {
      outline: none;
    }
    Name &:hover {
      color: darken(#ff8787, 7%);
    }
  }
  &-user {
    font-size: 22px;
    color: green;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 40px 5px;
  background-color: rgba(50, 50, 50, 0.7);
  opacity: 0;
  z-index: 3;
  perspective: 700px;
  transition: opacity 0.27s ease-out 0.13s;
  will-change: opacity;
  -webkit-tap-highlight-color: transparent;
  &.is-visible {
    opacity: 1;
    cursor: pointer;
    transition-delay: 0s;
  }
  &-dialog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 400px;
    padding: 15px 25px;
    transition: transform 0.3s cubic-bezier(1, 0.75, 1, 0.97);
    transform: translate3d(0, -200px, -500px) rotateX(70deg) scale(0.5);
    background-color: lighten(#24313c, 7%);
    border-radius: 7px;
    text-align: center;
    cursor: default;
    &.is-visible {
      transform: translate3d(0, 0, 0) rotateX(0) scale(1);
      transition-delay: 0.1s;
      transition-timing-function: cubic-bezier(0.22, 0.7, 0.7, 1.37);
    }
  }
  &-btn {
    width: 50%;
    padding: 0;
    line-height: 46px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #435159;
    color: #8f9e94;
    cursor: pointer;
    &.is-active {
      color: white;
      background-color: #1ab188;
    }
    &--big {
      width: 100%;
      letter-spacing: 1.5px;
    }
    &:focus {
      outline: none !important;
      border-color: currentColor;
    }
    &:active {
      border-color: transparent;
    }
  }
  &-input {
    width: 75%;
    margin: 0 auto 25px;
    background-color: transparent;
    border: 1px solid #8f9e94;
    border-radius: 5px;
    text-align: center;
    color: lighten(#8f9e94, 15%);
    font-size: 20px;
    line-height: 34px;
    &:-ms-input-placeholder,
    &::-ms-input-placeholder,
    &::-webkit-input-placeholder {
      color: #8f9e94;
    }
    &::placeholder {
      color: #8f9e94;
    }
  }
  &-title {
    margin: 15px 0 20px;
    color: #fff;
    font-size: 22px;
  }
  &-error {
    color: lighten(red, 5%);
    margin-bottom: 20px;
    font-size: 20px;
  }
  &-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 40px);
    background-color: #ccc;
    border-radius: 7px;
    cursor: crosshair;
    &__cont {
      width: 75vw;
      max-width: 850px;
      position: relative;
      &:before {
        padding-top: 56.25%;
        display: block;
        content: "";
      }
    }
    &__buttons {
      height: 40px;
      padding-top: 8px;
    }
    &__button {
      background-color: #4a5be4;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      padding: 3px 15px 4px;
      border: 1px solid transparent;
      border-radius: 8px;
      outline: none;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &.focus-visible {
        outline: none;
        border: 1px solid #12fb9e;
      }
    }
  }
}

.cont {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.focus-visible {
  outline: 1px solid #4d90fe;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

.chat-room-messages__loading {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.chat-room-messages__loading {
  margin: 20px 30px 15px auto;
  position: relative;
  right: 20px;
  top: -10px;
  border-top: 7px solid rgba(0, 0, 0, 0.2);
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid darken(#7884e6, 10%);
  transform: translateZ(0);
  animation: msgLoad 0.65s infinite linear;
}
@keyframes msgLoad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chat-room__canvas-btn,
.chat-room__smiley-btn {
  all: unset;
  width: 19px;
  height: 19px;
  position: absolute;
  right: 101px;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  & path {
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

.chat-room__canvas-btn {
  bottom: 1px;
  &:hover,
  &.focus-visible {
    transform: scale(1.16);
    & path {
      stroke: darken(#7884e6, 20%);
    }
  }
}

.chat-room__smiley-btn {
  bottom: 19px;
  &:hover,
  &.focus-visible {
    transform: scale(1.08);
    path:first-child {
      fill: lighten(#d13b35, 10%);
    }
  }
}

.emoji-mart {
  z-index: 100;
  position: absolute;
  bottom: 40px;
  right: 0;
}

.emoji-mart .emoji-mart-emoji {
  padding: 4px;
  margin: 2px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100%;
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  &:hover {
    background-color: lighten(#ae65c5, 30%);
    transform: scale(1.15);
  }
}

.emoji-mart-scroll {
  height: 274px;
}

.emoji-mart-preview-emoticons {
  display: none;
}

.emoji-mart-emoji:before {
  display: none !important;
}

.emoji-mart-emoji:hover:before {
  opacity: 1;
}

.emoji-mart-anchor svg {
  transition: 0.35s ease-out;
}

.emoji-mart-anchor:hover svg {
  transform: scale(1.2);
  fill: rgb(174, 101, 197);
}

.emoji-mart-anchor,
.emoji-mart-category .emoji-mart-emoji span {
  cursor: pointer;
}

.emoji-cont,
.chat-room-messages__message .emoji-mart-emoji {
  vertical-align: middle;
  user-select: text;
  cursor: text;
  margin-top: -4px;
}

.emoji-cont {
  display: inline-block;
  height: 22px;
  width: 22px;
}

.chat-room-messages__message .emoji-mart-emoji {
  height: 26px;
  width: 26px;
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  20% {
    opacity: 1;
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: scale(0.2);
    opacity: 0;
  }
}
.loading-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin: 16px 0;
}
.loading {
  opacity: 0;
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  background: #9999a3;
  border-radius: 50%;
  animation: anim 0.7s ease infinite;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.loading:nth-child(2) {
  animation-delay: 0.12s;
}

.loading:nth-child(3) {
  animation-delay: 0.24s;
}
